body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: #ffb400;
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    color: #ccc;
    font-size: 1.2em;
}

.countdown {
    font-size: 2em;
    color: #ffb400;
    margin-top: 20px;
}
